docs/config-scheme.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        targetNamespace="meta-storm"
>
    <xs:element name="meta-storm">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="definitions">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="classMethod" type="target-classMethod"/>
                            <xs:element name="classConstructor" type="target-classConstructor"/>
                            <xs:element name="function" type="target-function"/>
                            <xs:element name="returnValue" type="target-returnValue"/>
                            <xs:element name="files" type="target-files"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>

                <xs:element name="collections">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="attributeArgument" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                    <xs:attribute type="xs:string" name="class" use="required"/>
                                    <xs:attribute type="xs:nonNegativeInteger" name="argument" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="attributeClass" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                    <xs:attribute type="xs:string" name="class" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="strings" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="value" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:choice>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>

                <xs:element name="envs">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="env" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                    <xs:attribute type="xs:string" name="value" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="related">
        <xs:restriction base="xs:string">
            <xs:enumeration value="file"/>
            <xs:enumeration value="containingClass"/>
            <xs:enumeration value="directory"/>
            <xs:enumeration value="project"/>
            <xs:enumeration value="argument"/>
            <xs:enumeration value="variable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="target-returnValue">
        <xs:sequence>
            <xs:element ref="features" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="class" use="required"/>
        <xs:attribute type="xs:string" name="method" use="required"/>
    </xs:complexType>
    <xs:complexType name="target-classMethod">
        <xs:sequence>
            <xs:element ref="features" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="class" use="required"/>
        <xs:attribute type="xs:string" name="method" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="argument" use="required"/>
    </xs:complexType>
    <xs:complexType name="target-classConstructor">
        <xs:sequence>
            <xs:element ref="features" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="class" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="argument" use="required"/>
    </xs:complexType>
    <xs:complexType name="target-function">
        <xs:sequence>
            <xs:element ref="features" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="argument" use="required"/>
    </xs:complexType>
    <xs:complexType name="target-files">
        <xs:sequence>
            <xs:element ref="features" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="xpath" use="required"/>
        <xs:attribute type="xs:string" name="extension" use="optional"/>
    </xs:complexType>

    <!-- features -->
    <xs:element name="features" abstract="true"/>
    <xs:element name="files" type="feature-files" substitutionGroup="features"/>
    <xs:element name="properties" type="feature-properties" substitutionGroup="features"/>
    <xs:element name="collection" type="feature-collection" substitutionGroup="features"/>
    <xs:element name="arrayValues" type="feature-arrayValues" substitutionGroup="features"/>
    <xs:element name="methods" type="feature-methods" substitutionGroup="features"/>
    <xs:element name="returnType" type="feature-returnType" substitutionGroup="features"/>
    <xs:element name="tables" type="feature-tables" substitutionGroup="features"/>
    <xs:element name="variableInjection" type="feature-variableInjection" substitutionGroup="features"/>

    <xs:complexType name="feature-files" mixed="true">
        <xs:sequence>
            <xs:element name="directoryProcessors" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element type="processor-case" name="case" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element type="processor-append" name="append" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element type="processor-regexp" name="regexp" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="related" name="relatedTo" use="optional"/>
        <xs:attribute type="xs:string" name="xpath" use="optional"/>
        <xs:attribute type="xs:string" name="extension" use="optional"/>
    </xs:complexType>
    <xs:complexType name="feature-properties" mixed="true">
        <xs:attribute type="related" name="relatedTo" use="optional"/>
        <xs:attribute type="xs:string" name="xpath" use="optional"/>
        <xs:attribute type="xs:nonNegativeInteger" name="relatedArgument" use="optional"/>
        <xs:attribute type="xs:boolean" name="public" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="protected" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="private" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="static" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="dynamic" default="true" use="optional"/>
    </xs:complexType>
    <xs:complexType name="feature-returnType" mixed="true">
        <xs:sequence>
            <xs:element name="alias" minOccurs="0">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="name" use="required"/>
                    <xs:attribute type="xs:string" name="class" use="required"/>
                    <xs:attribute type="xs:nonNegativeInteger" name="argument" default="0" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="feature-methods" mixed="true">
        <xs:attribute type="related" name="relatedTo" use="optional"/>
        <xs:attribute type="xs:string" name="xpath" use="optional"/>
        <xs:attribute type="xs:nonNegativeInteger" name="relatedArgument" use="optional"/>
        <xs:attribute type="xs:boolean" name="public" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="protected" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="private" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="abstract" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="static" default="true" use="optional"/>
        <xs:attribute type="xs:boolean" name="dynamic" default="true" use="optional"/>
    </xs:complexType>
    <xs:complexType name="feature-tables" mixed="true">
        <xs:attribute type="xs:string" name="database" use="required"/>
    </xs:complexType>
    <xs:complexType name="feature-collection" mixed="true">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="argument" use="optional"/>
    </xs:complexType>
    <xs:complexType name="feature-arrayValues" mixed="true">
        <xs:attribute type="xs:string" name="xpath" use="required"/>
    </xs:complexType>
    <xs:complexType name="feature-variableInjection" mixed="true">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
    </xs:complexType>

    <!-- processors -->

    <xs:complexType name="processor-append">
        <xs:attribute type="xs:string" name="value"/>
    </xs:complexType>

    <xs:complexType name="processor-case">
        <xs:attribute type="xs:string" name="from" use="required"/>
        <xs:attribute type="processor-case-modification" name="case" use="required"/>
    </xs:complexType>

    <xs:simpleType name="processor-case-modification">
        <xs:restriction base="xs:string">
            <xs:enumeration value="upper"/>
            <xs:enumeration value="lower"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="processor-regexp">
        <xs:attribute type="xs:string" name="from" use="required"/>
        <xs:attribute type="xs:string" name="to" use="required"/>
    </xs:complexType>
</xs:schema>
